{% extends 'base.html.twig' %}

{% block title %}Availability{% endblock %}

{% block body %}
    <h1>Disponibilité</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ availability.id }}</td>
            </tr>
            <tr>
                <th>Date de départ</th>
                <td>{{ availability.departDate ? availability.departDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ availability.returnDate ? availability.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix par jour</th>
                <td>{{ availability.pricePerDay }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ availability.status ? 'Available' : 'Not Available' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_availability_index') }}">Retour à la liste</a>

    <a href="{{ path('app_availability_edit', {'id': availability.id}) }}">Modifier</a>

    {{ include('availability/_delete_form.html.twig') }}
{% endblock %}
