{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Vehicle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>
                    <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">Afficher</a>
                    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_new') }}">Nouveau</a>
    <a href="{{ path('homepage')}}">Page d'Accueil</a>
{% endblock %}
