{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ vehicle.make }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>
    <a href="{{ path('app_availability_new_with_vehicle', {'vehicleId': vehicle.id}) }}">Add Availability for this Vehicle</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
