{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Marque</th>
                <td>{{ vehicle.make }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ vehicle.model }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_index') }}">Retour à la liste</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Modifier</a>
    <a href="{{ path('app_availability_new_with_vehicle', {'vehicleId': vehicle.id}) }}">Ajouter une disponibilité pour ce véhicule</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
