{% extends 'base.html.twig' %}

{% block title %}Recherche des véhicules{% endblock %}

{% block body %}
    <h1>Recherche des véhicules disponibles</h1>

    {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form.depart_date) }}
        {{ form_row(form.return_date) }}
        {{ form_row(form.max_price) }}
        {{ form_row(form.days) }}
        <button type="submit" class="btn">Rechercher</button>
    {{ form_end(form) }}

    {% if vehicles is not empty %}
        <h2>Véhicules disponibles</h2>
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    {{ vehicle.make }} {{ vehicle.model }} - Total Price: ${{ totalPrices[vehicle.id] }}
                    <br>
                    {% for availability in availabilityMap[vehicle.id] %}
                        Available from {{ availability.departDate|date('Y-m-d') }} to {{ availability.returnDate|date('Y-m-d') }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun véhicule ne correspond à vos critères de recherche</p>
        {% if suggestedVehicles is not empty %}
            <h2>Suggested Vehicles</h2>
            <ul>
                {% for vehicle in suggestedVehicles %}
                    <li>
                        {{ vehicle.make }} {{ vehicle.model }}
                        <br>
                        {% for availability in suggestedAvailabilityMap[vehicle.id] %}
                            Suggested Availability from {{ availability.departDate|date('Y-m-d') }} to {{ availability.returnDate|date('Y-m-d') }}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <a href="{{ path('homepage')}}">Page d'Accueil</a>
{% endblock %}

